<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <!-- Title -->
    <h1 class="page-title">Home</h1>
    <!-- Page Text -->
    <p class="page-body">Our team’s goal is to create a browser-based Dungeons & Dragons combat simulator that is easily accessible, useful to inexperienced and experienced players alike! The combat simulators for Dungeons & Dragons that can be found today aren’t truly user
        friendly, from their clunky UI, to their scarce customization, just not very appealing to the majority of users. To alleviate this issue of non-appealing combat simulators, our team is to develop a browser based tool that will be able to simulate
        the optimal/suboptimal combat scenarios that the user desires.</p>
    <!-- Subtitle -->
    <h2 class="page-subtitle">Contact</h2>
    <!-- Page Text -->
    <p class="page-body">The team can be reached at the github link below. This is also where you can let us know about any issues or other features you would like to see added. This project is open source under the MIT License so feel free to use the project however you
        would like adhering to that license.</p>
    <!-- Link to Repo -->
    <a style="font-size: 20px;" href="https://github.com/combatshoppe/combat-shoppe">Link to Github Repo</a>
    <!-- Subtitle -->
    <h2 class="page-subtitle">FAQ</h2>
    <!-- Page Text -->
    <p class="page-subtitle">Where do I start the simulation?</p>
    <!-- Subtitle -->
    <h2 class="page-body">Press the Battle Simulator button on the top right to arrive at the simulator page.</h2>
</body>

</html>