<!DOCTYPE html>
<html>

<head>
    <title>Simulator</title>
    <style>
        my-sidebar {
            background-color: #323456;
        }
    </style>
</head>

<body>




    <div class="container-fluid bg-red">
        <div class="row toprow bg-blue">
            <div class="col mainwin" name="MainWindow"> </div>
            <div class="col sidewin" name="SideWindow"> </div>
        </div>
        <div class="row botrow bg-gray">
            <div class="row text-center align-items-center justify-content-center">
                <div class="col-1">
                    <a class="sim-button" onclick=" Edit() ">Edit</a>
                </div>
                <div class="col-1">
                    <a class="sim-button" onclick="Reset() ">Reset</a>
                    <div class="reset"></div>
                </div>
                <div class="col-2">
                    <!-- For Spacing -->
                </div>
                <div class="col-1">
                    <a class="sim-button" onclick="Back() ">Back</a>
                </div>
                <div class="col-2">
                    <a class="sim-button play" onclick="Play() ">Play</a>
                </div>
                <div class="col-1">
                    <a class="sim-button" onclick="Forward() ">Forward</a>
                </div>
                <div class="col-2">
                    <!-- For Spacing -->
                </div>
                <div class="col-1">
                    <a class="sim-button" onclick="Settings() ">Settings</a>
                </div>
                <div class="col-1">
                    <a class="sim-button" onclick="Import() ">Import</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>