<!DOCTYPE html>
<html>

<head>
    <title>Simulator</title>
    <style>
        my-sidebar {
            background-color: #323456;
        }
    </style>
</head>

<body>




    <div class="container-fluid bg-red">
        <div class="row toprow bg-blue">
            <div class="col mainwin" name="MainWindow"> </div>
            <div class="col sidewin" name="SideWindow"> </div>
        </div>
        <div class="row botrow bg-gray">
            <div class="row text-center align-items-center justify-content-center">
                <div class="col">
                    <a class="sim-button" onclick=" Edit() ">Edit</a>
                </div>
                <div class="col">
                    <a class="sim-button" onclick="LeftArrow() ">&lt--</a>
                </div>
                <div class="col">
                    <a class="sim-button" onclick="RightArrow() ">--&gt</a>
                </div>
                <div class="col">
                    <a class="sim-button" onclick="DubLeftArrow() ">&lt&lt--</a>
                </div>
                <div class="col">
                    <a class="sim-button" onclick="DubRightArrow() ">--&gt&gt</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>